*

!.bashrc
!.gitconfig

!README.md

!.config/i3/*

!.config/fcitx5/*
!.config/fcitx/*

!.config/fish/*

!.config/nitrogen/*
!.config/termite/*
!.config/systemd/*

!.config/nvim/*

!.config/polybar/*
!.config/environment.d/*

!.config/picom/*
!.config/gtk-3.0/*
